@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: muli;
}

header {
  width: 100%;
  padding: 20px;
  background-color: purple;
}

header a{
  width: 33.33%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold; 
  color: lightgrey;
  font-size: 20px;
}

header a:hover{
  color: yellow;
}

header a:active{
  color: #fff;
  font-size: 24px;
}

main {
  background-color: lawngreen;
  min-height: calc(100vh - 64px);
  text-align: center;
  color: purple;
}

main img{
  width: 100%;
  height: auto;
}

main h1{
  font-size: 70px;
  margin: 20px;
  padding: 30px 50px 0;
}

main p{
  font-size: 24px;
  padding: 0 50px 50px;
  margin: 0;

}

